generate image agent (1).json
{
  "name": "generate image agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-agent-start",
        "options": {
          "responseData": "All Entries"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        0
      ],
      "id": "10c78935-cfb0-408b-8d20-81b45a4a11f0",
      "name": "Webhook",
      "webhookId": "6f952109-9789-4258-b1dc-fac0a03d01ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d9f1424-07ba-4c4f-9501-0278b5ed2f05",
              "name": "topic",
              "value": "={{ $json.body.topic }}",
              "type": "string"
            },
            {
              "id": "bf5a3e1f-2f91-45ad-aa31-e7184d1b0bd6",
              "name": "blogTone",
              "value": "={{ $json.body.blogTone }}",
              "type": "string"
            },
            {
              "id": "975972e2-58ac-4b37-98d2-27a389f9d296",
              "name": "infographicStyle",
              "value": "={{ $json.body.infographicStyle }}",
              "type": "string"
            },
            {
              "id": "dea3b519-3bde-458d-af81-96e55fc92761",
              "name": "=timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        0
      ],
      "id": "b9113590-ea17-42ff-b270-a7b903e335cc",
      "name": "Edit Fields - Store User Inputs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.executionMode }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a research AI agent that takes a topic and preferences, then collects reliable information from multiple sources.\nTools you can use:\n1. Google Search (for general information)\n2. Wikipedia Search (for summaries)\n3. Reddit Search (for opinions & discussions)\n4. Papers Search (for academic references)\n\nSteps:\n- Decide which tools to use for the given topic.\n- Collect results from each tool.\n- Summarize into bullet points.\n- Return raw text for further fact-checking.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "08ed519c-9063-46de-8bed-b15f2d512872",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        208
      ],
      "id": "c6cb8271-8307-4be0-8a0d-cd8df6ee02de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bgowylk4lQbxmiTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "ai_agent_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        224
      ],
      "id": "c2eda1d7-0f0f-4a54-be9f-08e8d073f99e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "4ce7a0bb-f5e9-42a3-ad90-a491f46cd1f3",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "5JGv0x1UiC5QDJD0",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        96,
        272
      ],
      "id": "fc99b989-2e73-4b26-9111-bc170cbee3c7",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "generate an output image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        -16
      ],
      "id": "e67d5200-6f17-4f53-96c1-9130eac69787",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "bgowylk4lQbxmiTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -16
      ],
      "id": "73aeaccf-1d0e-45d4-9ce9-4faba0c7e714",
      "name": "Send a photo message",
      "webhookId": "79f780a5-380a-467b-b7d9-badb854a8a6a",
      "credentials": {
        "telegramApi": {
          "id": "Tq4GhCnFvbBVWvGP",
          "name": "everestbuilderassociates.AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields - Store User Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Store User Inputs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eaec9d57-ea0c-4067-9566-f863d239fd83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9898397347908cb5982a23b811f8baa03bf4e1962e896d58fa10234caf4845"
  },
  "id": "TgeByLTsRWKQ0QAa",
  "tags": []
}