n8n-scrape and summarize.json
{
  "name": "n8n-scrape and summarize",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -48
      ],
      "id": "52529fb8-b180-4c36-bdfe-6330c6ca17a2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7a34d98-fa37-421e-bd5d-fc88d831161b",
              "name": "url",
              "value": "https://en.wikipedia.org/wiki/Artificial_intelligence",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -48
      ],
      "id": "f2370b51-8715-4622-838f-03eb49e92649",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -48
      ],
      "id": "d6258575-4653-41e4-8d22-0349a22609dd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}\n",
        "options": {
          "systemMessage": "You are a helpful assistant. Please summarize the following webpage HTML content into plain English. Do not return code, just a human-readable summary.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -240,
        -48
      ],
      "id": "45d45d39-8e9a-4608-873e-4d92562f04cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        144
      ],
      "id": "974f77f3-07f9-46ca-8387-29fe19f3a6e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bgowylk4lQbxmiTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3697a529-2fd0-4c2a-857b-ead87aea248e",
              "name": "summary",
              "value": "={{ $json.result }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -48
      ],
      "id": "12f367e4-b037-491a-9d93-0c35f7c623e8",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba376a2c-22b4-4ff6-854b-f40207505a9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9898397347908cb5982a23b811f8baa03bf4e1962e896d58fa10234caf4845"
  },
  "id": "rKKfK1BwSi4SLHe1",
  "tags": []
}